header {
  display: grid;
  grid-template-rows: 1fr,30px;
  background-color: rgba(146, 146, 146, 0.26);
  .header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    width: 100%;
    img {
      width: 75px;
      height: 75px;
      margin-right: 10px;
      padding-bottom: 1.34375em;
    }
    .example-form {
      width: 70%;
      display: flex;
      align-items: center;

      button {
        font-size: 18px;
        height: 50px;
        width: 30%;
        background-color: rgba(57, 73, 155, 1);
        padding: 0;
        margin-bottom: 1.34375em;
      }
      .button-container {
        margin-left: 15px;
      }
    }
    .example-full-width {
      width: 80%;
    }
    .button-login {
      button {
        height: 50px;
        width: 20%;
        background-color: rgba(57, 73, 155, 1);
        padding: 0;
        margin-bottom: 1.34375em;
      }
    }
    .conteiner {
      width: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .icons {
      font-size: 48px;
      width: auto;
      height: 48px;
    }
    .log-name {
      font-size: 18px;
      margin-right: 5px;
    }
  }
  .header-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    div{
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      button{
        background-color: rgba(57, 73, 155, 1);
      }
    }
  }
}
