<header>
  <div class="header-top">
    <div class="conteiner">
      <form class="example-form" [formGroup]="form">
        <img [src]="imgSrc" [routerLink]="['/home']" />
        <mat-form-field class="example-full-width">
          <mat-label>Search...</mat-label>
          <input matInput formControlName="searchValue" />
        </mat-form-field>

        <div class="button-container">
          <button
            mat-raised-button
            color="primary"
            aria-label="Setting"
            type="button"
            (click)="settingToggle = !settingToggle"
          >
            <mat-icon class="icons">tune</mat-icon>
          </button>
        </div>
      </form>
      <div class="button-login">
        <span class="log-name">{{ user$ | async }}</span>
        <button mat-raised-button color="primary" [routerLink]="['/admin']">
          <mat-icon class="icons">account_circle</mat-icon>
        </button>
        <button mat-raised-button color="primary">
          <mat-icon class="icons" (click)="logout()">exit_to_app</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="settingToggle" class="header-bottom">
    <div>
      <span>Sorting by: </span>
      <button
        *ngIf="searchParams.isDate"
        mat-flat-button
        (click)="sortDataChange()"
      >
        <mat-icon class="icons">arrow_downward</mat-icon>date
      </button>
      <button
        *ngIf="!searchParams.isDate"
        mat-flat-button
        (click)="sortDataChange()"
      >
        <mat-icon class="icons">arrow_upward</mat-icon>date
      </button>
      <button
        *ngIf="searchParams.isVision"
        mat-flat-button
        (click)="sortVisionChange()"
      >
        <mat-icon class="icons">arrow_downward</mat-icon>count of views
      </button>
      <button
        *ngIf="!searchParams.isVision"
        mat-flat-button
        (click)="sortVisionChange()"
      >
        <mat-icon class="icons">arrow_upward</mat-icon>count of views
      </button>
      <button mat-flat-button>by world or sentance</button>
    </div>
  </div>
</header>
